body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
}

button {
    font-family: inherit;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4D5AE5;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

img {
    display: block; 
    max-width: 100%; 
    height: auto;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header {
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.main-link {
    padding: 24px 0;
    margin-right: 76px;
}

.accent {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

.accent-studio {
    color: #2E2F42;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link.current {
    position: relative;
}

.nav-list-link.current::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    left: 0;
    bottom: -1px;
    position: absolute;
}

.nav-list-link:hover, 
.nav-list-link:focus,
.nav-list-link.current {
    color: #404BBF;
}

.page-address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-link:hover, 
.address-list-link:focus {
    color: #404BBF;
}

.hero-wrapper {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 188px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 48px;
    max-width: 496px;
    width: 100%;
}

.hero-title-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    min-width: 169px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-title-button:hover, 
.hero-title-button:focus {
    background-color: #404BBF;
}

.features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.features-item {
    width: calc((100% - 24px * 3) / 4);
}

.container-features-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 100%;
    height: 112px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
}

.features-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 24px * 3) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-content {
    padding: 32px 16px;
    text-align: center;
}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-icon,
.footer-icon {
  display: block;
  fill: #F4F4FD;
}

.team-list-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-direction: row;
}

.team-link-icon {
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icon:hover,
.team-link-icon:focus {
    background-color: #404BBF;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 24px * 2) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-photo-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-border {
    padding: 32px 16px;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
}

.portfolio-item-overlay {
    background-color: #4D5AE5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-item-overlay {
    transform: translateY(0);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-text-overlay {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.block {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.container-footer {
    text-align: left;
    margin-left: 0;
    width: 264px;
    margin-right: 120px;
}

.accent-studio-footer {
    color: #F4F4FD;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.page-footer-text {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 16px;
    width: 264px;
}

.page-footer-text-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-list-item-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    flex-direction: row;
}

.footer-link-icon {
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    fill: #F4F4FD;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icon:hover,
.footer-link-icon:focus {
    background-color: #31D0AA;
}

.container-footer-subscribe {
    margin-left: auto;
}

.footer-subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.container-form-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input-email-footer{
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #2E2F42;
    padding: 8px 16px;
    color: #FFFFFF;
    margin-right: 24px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.input-email-footer:focus {
    border: 1px solid #31D0AA;
}

.input-email-footer::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.btn-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    border-radius: 4px;
    padding: 8px 24px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
}

.btn-footer:hover,
.btn-footer:focus {
    background-color: #31D0AA;
}

.btn-icon-footer {
    fill: #FFFFFF;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 74px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #FCFCFC;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.backdrop-btn-close {
    width: 24px;
    height: 24px;

    border-radius: 100%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    

    fill: #2E2F42;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-btn-close:hover,
.backdrop-btn-close:focus {
    fill: #FFFFFF;
    background-color: #404BBF;
    border: none;
}

.backdrop-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.container-label {
    margin-bottom: 8px;
}

.comment-field {
    margin-bottom: 16px;
}

.backdrop-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
}

.container-input {
    position: relative;
}

.input-info {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 11px 10px 11px 38px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-input-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-comment {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 120px;
    width: 100%;
    padding: 8px 16px;
    resize: none;
    outline: none;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.input-info:focus,
.backdrop-comment:focus {
    border: 1px solid #4D5AE5;
}

.input-info:focus + .backdrop-input-icon {
    fill: #4D5AE5;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: none;
    margin-right: 8px;
}

.input-checkbox:checked + .terms-checkbox .custom-checkbox {
    background-color: #404BBF;
    fill: #F4F4FD;
}

.input-checkbox:focus + .terms-checkbox .custom-checkbox {
    border-color: #404BBF;
}

.terms-checkbox {
    display: flex;
    align-items: baseline;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 24px;
}

.backdrop-link {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}

.backdrop-btn-send {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;

    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4D5AE5;
    border: none;

    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-btn-send:hover,
.backdrop-btn-send:focus {
    background-color: #404BBF;
}