body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
}

button {
    font-family: inherit;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4D5AE5;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

img {
    display: block; 
    max-width: 100%; 
    height: auto;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.page-header {
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.accent {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

.accent-studio {
    color: #2E2F42;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link.current {
    position: relative;
}

.nav-list-link.current::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    left: 0;
    bottom: -1px;
    position: absolute;
}

.nav-list-link:hover,
.nav-list-link:focus,
.nav-list-link.current {
    color: #404BBF;
}

.page-address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    align-items: center;
}

.address-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-link:hover,
.address-list-link:focus {
    color: #404BBF;
}

.page-nav,
.page-address {
    display: none;
}

.burger-mobil {
    border: none;
    background-color: transparent;
    margin-left: auto;
    padding: 16px 0;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 16px;
        margin: 0 auto;
    }

    .main-link {
        margin-right: 120px;
    }

    .page-nav,
    .page-address {
        display: flex;
    }

    .burger-mobil {
        display: none;
    }

    .address-list {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .address-list-link {
        padding: 0;
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .main-link {
        margin-right: 76px;
    }

    .address-list {
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 40px;
    }

    .address-list-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

.hero-wrapper {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-m.jpg);
    max-width: 320px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 72px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

@media screen and (min-resolution: 192dpi) {
    .hero-wrapper {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-m2x.jpg);
    }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 72px;
    max-width: 216px;
    width: 100%;
}

.hero-title-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    min-width: 169px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-title-button:hover,
.hero-title-button:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .hero-wrapper {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-t.jpg);
        max-width: 768px;
        padding: 112px 0;
    }

    .hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 36px;
        max-width: 496px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero-wrapper {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-t2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero-wrapper {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        max-width: 1440px;
        padding: 188px 0;
    }

    .hero-title {
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero-wrapper {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-d2x.jpg);
    }
}

.features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 72px;
    flex-direction: column;
}

.features-item {
    max-width: 100%;
}

.container-features-icon {
    display: none;
}

.features-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}

.features-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .features {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .features-item-title {
        text-align: start;
    }
    
    .features-list {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .features-item {
        flex: 0 1 calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .features {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .features-list {
        gap: 24px;
    }

    .features-item {
        flex: 0 1 calc((100% - 24px * 3) / 4);
    }
    
    .container-features-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        width: 100%;
        height: 112px;
        background-color: #F4F4FD;
        margin-bottom: 8px;
    }

    .features-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }
}

.team {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 74px;
    flex-direction: column;
}

.team-item {
    background-color: #FFFFFF;
    max-width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.team-item-content {
    padding: 32px 16px;
    text-align: center;
}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-icon,
.footer-icon {
    display: block;
    fill: #F4F4FD;
}

.team-list-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-direction: row;
}

.team-link-icon {
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icon:hover,
.team-link-icon:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .container-team {
        max-width: 768px;
        padding: 0 108px;
    }

    .team {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        
    }

    .team-item {
        max-width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .container-team {
        max-width: 1158px;
        padding: 0 15px;
    }

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .team-item {
        max-width: calc((100% - 24px * 3) / 4);
    }
}

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.portfolio-item {
    max-width: 288px;
    box-shadow:
            0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-border {
    padding: 32px 16px;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
}

.portfolio-text-overlay {
    display: none;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .portfolio-item {
        max-width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-list {
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio-item {
        box-shadow: none;
        width: calc((100% - 24px * 2) / 3);
    }

    .portfolio-item:hover {
        box-shadow:
            0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .container-photo-overlay {
        position: relative;
        overflow: hidden;
    }

    .portfolio-item-overlay {
        background-color: #4D5AE5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        padding: 40px 32px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover .portfolio-item-overlay {
        transform: translateY(0);
    }

    .portfolio-item:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    .portfolio-text-overlay {
        color: #F4F4FD;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: block;
    }

}

.page-footer {
    background-color: #2E2F42;
    padding: 96px 0;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-footer {
    text-align: left;
    margin-left: 0;
    max-width: 264px;
    margin-bottom: 72px;
}

.cotainer-footer-link {
    text-align: center;
}

.accent-studio-footer {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.page-footer-text {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 16px;
    max-width: 264px;
}

.container-footer-social {
    margin-bottom: 72px;
}

.page-footer-text-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}

.footer-list-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-direction: row;
}

.footer-link-icon {
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    fill: #F4F4FD;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icon:hover,
.footer-link-icon:focus {
    background-color: #31D0AA;
}

.footer-subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}

.container-form-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-email-footer {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 8px 16px;
    margin-bottom: 16px;
    color: #FFFFFF;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.input-email-footer:focus {
    border: 1px solid #31D0AA;
}

.input-email-footer::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.btn-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    border-radius: 4px;
    padding: 8px 24px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
}

.btn-footer:hover,
.btn-footer:focus {
    background-color: #31D0AA;
}

.btn-icon-footer {
    fill: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .block {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 768px;
        padding: 0 108px;
    }

    .container-footer {
        margin-right: 24px;
    }
    
    .cotainer-footer-link {
        text-align: left;
    }

    .container-footer-social {
        margin-bottom: 0;
    }

    .page-footer-text-social {
        text-align: left;
    }

    .footer-subscribe-text {
        text-align: left;
    }

    .container-form-footer {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
    }

    .input-email-footer {
        width: 264px;
        height: 40px;
        margin-right: 24px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1158px) {
    .block {
        justify-content: flex-start;
        align-items: baseline;
        max-width: 1158px;
        padding: 0 15px;
    }

    .page-footer {
        padding: 100px 0;
    }

    .container-footer {
        text-align: left;
        margin-left: 0;
        max-width: 264px;
        margin-right: 120px;
        margin-bottom: 0;
    }

    .container-footer-subscribe {
        margin-left: auto;
    }
}

.mobail-menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%);
}

.mobail-menu-backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
}


.mobail-menu {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 74px 24px 40px 16px;
    position: relative;

    display: flex;
    flex-direction: column;
}

.button-menu-mobail-close {
    width: 24px;
    height: 24px;

    border-radius: 100%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);


    fill: #2E2F42;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-menu-mobail-close:hover,
.button-menu-mobail-close:focus {
    fill: #FFFFFF;
    background-color: #404BBF;
    border: none;
}

.nav-list-mobail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
}

.nav-list-link-mobail {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-mobail {
    color: #404BBF;
}

.nav-list-link-mobail:hover,
.nav-list-link-mobail:focus {
    color: #404BBF;
}

.container-mobail-link {
    margin-top: auto;
}

.address-list-mobail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.address-list-link-tel {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #4D5AE5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-link-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-link-tel:hover,
.address-list-link-tel:focus, 
.address-list-link-email:hover, 
.address-list-link-email:focus {
    color: #4D5AE5;
}

.mobail-list-item-icon {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.mobail-icon {
    display: block;
    fill: #F4F4FD;
}

.mobail-link-icon {
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobail-link-icon:hover,
.mobail-link-icon:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .mobail-menu-backdrop {
        display: none;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 72px 16px 24px 16px;
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #FCFCFC;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.backdrop-btn-close {
    width: 24px;
    height: 24px;

    border-radius: 100%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);


    fill: #2E2F42;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-btn-close:hover,
.backdrop-btn-close:focus {
    fill: #FFFFFF;
    background-color: #404BBF;
    border: none;
}

.backdrop-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.container-label {
    margin-bottom: 4px;
}

.comment-field {
    margin-bottom: 16px;
}

.backdrop-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
}

.container-input {
    position: relative;
}

.input-info {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 11px 10px 11px 34px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-input-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-comment {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 120px;
    width: 100%;
    padding: 8px 16px;
    resize: none;
    outline: none;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.input-info:focus,
.backdrop-comment:focus {
    border: 1px solid #4D5AE5;
}

.input-info:focus+.backdrop-input-icon {
    fill: #4D5AE5;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: none;
    margin-right: 8px;
}

.input-checkbox:checked+.terms-checkbox .custom-checkbox {
    background-color: #404BBF;
    fill: #F4F4FD;
}

.input-checkbox:focus+.terms-checkbox .custom-checkbox {
    border-color: #404BBF;
}

.terms-checkbox {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 24px;
}

.label-space {
    display: flex;
    flex-wrap: wrap;
}

.space {
    display: none;
}

.backdrop-link {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}

.backdrop-btn-send {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;

    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4D5AE5;
    border: none;

    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-btn-send:hover,
.backdrop-btn-send:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .modal {
            padding: 72px 24px 24px 24px;
            width: 408px;
            min-height: 584px;
        }
    
        .container-label {
            margin-bottom: 8px;
        }
    
        .terms-checkbox {
            align-items: baseline;
        }

        .space {
            display: block;
        }
}

